@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body
{
    background-image: url(Background.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: rgb(142, 232, 166);
    justify-content: center;
}
.registrate
{
    background-color: transparent;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: 45vh;
}
.registrate input 
{
    user-select: none;
    border: 1px;
    width: 70%;
    height: 2rem;
    border-radius: 2rem;
    padding-left: 0.5rem;
}
.registrate .submit
{
    border: 1px;
    font-weight: 700;
    letter-spacing: 0.07rem;
    height: 2rem;
    border-radius: 2rem;
    width: 6rem;
    color: rgb(142, 232, 166);
    background-color: rgb(50, 55, 65);
    transition: 0.3s ease-in-out;
}
.registrate .submit:hover
{
    color: rgb(50, 55, 65);
    background-color: rgb(142, 232, 166);
}
.dropdown .select
{
    display: block;
    width: 10rem;
    background-color: rgb(16, 18, 23);
    color: rgb(79, 130, 93);
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select
{
    user-select: none;
}
.select-clicked 
{
    box-shadow: 0 0 0 0.08rem rgb(142, 232, 166);
}
.select:hover
{
    background-color: rgb(22, 24, 48);
}
.caret 
{
    transition: 0.3s;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    margin-top: 0.1rem;
}
.caret-rotate
{
    transform: rotate(180deg);
}
.menu
{
    text-align: center;
    width: 10rem;
    list-style-type: none;
    border-radius: 0.5rem;
    background-color: rgb(50, 55, 65);
    position: absolute;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li 
{
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    border-radius: 0.5rem;
}
.menu li:hover
{
    background-color: rgb(22, 24, 48);
}
.active 
{
    background-color: rgb(35, 36, 42);
}
.hide
{
    display: none;
}
.menu-open
{
    display: block;
    opacity: 1;
}
form
{
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem rgb(5, 10, 4);
}
.popup
{
    transition: 0.3s;
    z-index: 2;
    position: absolute;
    padding: 0.5rem;
    padding-right: 2rem;
    background-color: white;
    border-radius: 1rem;
    border: solid rgb(142, 232, 166);
}
.popup img 
{
    position: absolute;
    right: 0.5rem;
    bottom: 1.5rem;
    width: 1rem;
}
@media screen and (max-width: 425px)
{
    .registrate
    {
        min-width: 100vw;
        height: 70vh;
    }
}
@media screen and (max-width: 768px)
{
    .registrate
    {
        width: 50vw;
    }
}
